.alerts {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 2em;
    display: block;
    overflow-y: auto;
}
.alerts:empty {
    display: none;
}
.abscentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 80%;
    z-index: 10;
}

.form-horizontal {
    margin-top: 1.5em;
}

.form-horizontal label {
    font-weight: normal;
    text-align: left !important;
}

.buttons {
    margin-top: 1.5em;
}

@media screen and (min-width: 1200px) {
    .abscentered {
        min-width: 40%;
    }
}

label.disabled {
    color: #ccc;
}

.alert-message {
  color: #000;
  background-color: #fff;
  border-color: #999;
}

.username {
    color: red;
}
.username, .strong{
    font-weight: bolder !important;
}

#iframe {
    min-width: 600px;
    width: 100%;
    min-height: 500px;
    overflow-x: scroll;
}

#iframe, #banned {
    background: black;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 1em;
}

.nodecor {
    border: none;
    background: none;
    background-color: transparent !important;
    box-shadow: none;
    cursor: default !important;
}
