
{% extends "layout.html" %}

{% block page_title %}Page Not Found{% endblock %}

{% block heading %} Not found {% endblock %}
{% block content %}
    <div class="text-center">
        <h1>404</h1>
        <p>Sorry, that page doesn't exist.</p>
        <p>Want to <a href="{{ url_for('index') }}">go home</a> instead?</p>
    </div>
{% endblock %}

