{% extends 'layout.html' %}
{% import 'macro.html' as m %}

{% block heading %} Admin {% endblock %}
{% block content %}
    <form class="form-horizontal" method="get">
        {{ m.field(fmsearch.username) }}
        <div class="form-group-sm buttons">
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
    </form>
    {% if user %}
        <form class="form-horizontal" method="post">
            {{ fmuser.hidden_tag() }}
            {{ m.field(fmuser.password, autocomplete="off") }}
            {{ m.field(fmuser.protected) }}
            {{ m.field(fmuser.level) }}
            {{ m.field(fmuser.admin) }}
            {{ m.field(fmuser.nomac) }}
            <div class="form-group-sm buttons">
                <button type="submit" class="btn btn-primary">Go</button>
                {#
                &nbsp;
                <a href="{{url_for('register')}}" class="pull-right">
                    Register a new account
                </a>
                #}
            </div>
        </form>
    {% endif %}
{% endblock %}