{% extends 'layout.html' %}
{% import 'macro.html' as m %}

{% block heading %} Banned {% endblock %}
{% block content %}
    Oops! <span class="username">{{ g.username | default ('User')}}</span> has been banned from the game.
    <pre id="banned">
 _______________
< <strong><a href="{{ url_for('index') }}">try mooooo-re</a></strong> >
 ---------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
    </pre>
{% endblock %}
