{% extends 'layout.html' %}
{% block heading %}
    {% if g.username %}
        Welcome again.
    {% else %}
        First contact.
    {% endif %}
{% endblock %}
{% block content %}
    {% if not g.username %}
    <p> Welcome to the game. </p>
    {% endif %}
    <p> Here are the rules. Blaaaah blah blah blaaah. </p>
    {# On Go:
If cookie is present, present the login page.
If cookie is not present, present the REGISTRATION page
 #}
    <div class="buttons text-center">
    <a href="{% if g.username -%}{{url_for('login')}}{% else %}{{ url_for('register') }}{% endif %}"
       class="btn btn-primary">Let's DO THIS</a>
    </div>
{% endblock %}