
<!doctype html>
<head>
  <meta charset="utf-8">

    <title>
        {% block page_title %}
            The Game
        {% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/>
    {% block css %}{% endblock %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {% if current_user.admin %}
        <script src="{{ url_for('static', filename='admin.js') }}"></script>
    {% endif %}
</head>
<body>

{% if current_user.is_authenticated %}
    {% set headclass = 'inverse' if current_user.admin else 'default' %}
    <nav class="navbar navbar-{{ headclass }} navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}"> <span class="glyphicon glyphicon-home"></span> Home</a></li>
                </ul>
                {% if current_user.admin %}
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ url_for('logmessages') }}"> <span class="glyphicon glyphicon-list-alt"></span> Log messages
                            <span id="logcount" class="badge hidden"></span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-right navbar-nav">
                    <li>
                        <a href="{{ url_for('logout') }}" > <strong>{{ current_user.username }}</strong> logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}

<div class="alerts">
    {% with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith -%}
</div>
{% if error_code -%} {% set panel_class="danger" %} {% endif %}

{% if nopanel %}
    {{ self.content() }}
{% else %}
<div class="panel {% if panel_class %}panel-{{ panel_class }}{% else %}panel-default{% endif %} abscentered">
    <div class="panel-heading">
        {% block heading %}{% endblock %}
        {% if g.stats %}
            <div class="pull-right">
        <span class="label label-default">
        {{ g.stats.users }} users registered,
        {{ g.stats.banned }} banned mac addresses
        </span>
            </div>
        {% endif %}
    </div>
    <div class="panel-body">
        {% block content %}
        {% endblock %}
    </div>
</div>
    <script>
        (function() {
            var panel = $('.abscentered'),
                pos = panel.position();
            if (pos.top < 80) {
                panel.css("transform", "translate(-50%, 0)").css("top", "80px");
            }

        })()
    </script>
{% endif %}


{% block scripts %}
{% endblock %}

</body>
</html>

