{% extends 'layout.html' %}
{% import 'macro.html' as m %}

{% block heading %} Login {% endblock %}
{% block content %}
    Please login.
    <form class="form-horizontal" method="post">
        {{ m.field(form.login) }}
        {{ m.field(form.passwd) }}
        <small> Current MAC Address: {{ g.mac }} </small>
        <br/>
        <div class="form-group-sm buttons">
            <button type="submit" class="btn btn-primary">Go</button>
            &nbsp;
            <a href="{{url_for('register')}}">
                Register for an Account
            </a>
        </div>
        {{ form.hidden_tag() }}
        {{ m.hidden_errors(form) }}
    </form>
{% endblock %}