{% macro render_field(field) %}
    {% set cl = kwargs.pop('class','') + ' form-control' %}
    {{ field( class=cl, **kwargs)}}
    {% if field.description and not field.errors %}
    <span class="small help-block">{{ field.description }}</span>
    {% endif %}
{% endmacro %}

{% macro render_label(field) %}
    {% set md = '%s' % kwargs.pop('label_md','4') %}
    {% set cl = kwargs.pop('class','') + ' col-md-' + md + ' control-label'%}
    {{ field.label( class=cl, **kwargs)}} {# {% if field.flags.required %}*{% endif %} #}
{% endmacro %}

{% macro has_errors(field) %}{% if field.errors %}has-error{% endif %}{% endmacro %}

{% macro render_errors(field) %}
    {% if field.errors %}
        {% for error in field.errors %}<span class="small help-block">{{ error|safe }}</span>{% endfor %}
    {% endif %}
{% endmacro %}

{% macro hidden_errors(form) %}
    {% for f in form %}
        {% if f.widget.__class__.__name__ == 'HiddenInput' and f.errors %}
            <div class="form-group-sm has-error">
            {{ render_errors(f) }}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro generalfield(field) %}
    {% set cl = '{} {}'.format(kwargs.pop('divclass','form-group form-group-sm'), has_errors(field)) %}
    <div class="{{ cl }}">
        {% set md = '%s' % kwargs.pop('control_md','8') %}
        <div class="col-md-{{ md }}">
            {{ render_field(field, **kwargs) }}
            {{ render_errors(field) }}
        </div>
        {{ render_label(field, **kwargs) }}
    </div>
{% endmacro %}

{% macro checkboxfield(field) %}
    <div>
        <div class="checkbox">
            <label>
                {{ field }}
                {{ field.label.text }}
            </label>
        </div>
        {{ render_errors(field) }}
    </div>
{% endmacro %}

{% macro submitfield(field) %}
    {{ field(class="btn btn-primary pull-right") }}
{% endmacro %}

{% macro field(f) %}
    {% if f.type == 'SubmitField' %}
        {{ submitfield(f, **kwargs) }}
    {% elif f.type == 'BooleanField' %}
        {{ checkboxfield(f, **kwargs) }}
    {% else %}
        {{ generalfield(f, **kwargs) }}
    {% endif %}
{% endmacro %}
