{% extends 'layout.html' %}
{% import 'macro.html' as m %}

{% set nopanel=True %}
{% block heading %} Log messages {% endblock %}
{% block content %}
    {% if rows %}
        <table class="table table-condensed col-xs-12" style="margin-top: 80px">
        <tr>
            <th> Time </th>
            <th width="10%"> User </th>
            <th width="70%"> Message </th>
        </tr>
        {% for msg in rows %}
            {% set cl = '' %}
            {% if msg[0] > lastlogid %}
                {% set cl = 'strong' %}
            {% endif %}
            <tr>
                <td class="{{ cl }}"> {{ msg[1] }} </td>
                <td class="{{ cl }}">
                    {% set username = msg[2] | default(None)%}
                    {% if username %}
                        <a href="{{ url_for('admin', username=username) }}"> {{ username }} </a>
                    {% endif %}
                </td>
                <td class="{{ cl }}"> {{ msg[3] }} </td>
            </tr>

        {% endfor %}
    {% else %}
        Looks like there is no log messages to display.
    {% endif %}
{% endblock %}