{% extends 'layout.html' %}
{% import 'macro.html' as m %}

{% block heading %}
    Profile
{% endblock %}
{% block content %}
    Welcome <span class="username">{{ current_user.username | default ('User')}}</span>.
    <br/>
    Current Level: {{ current_user.level }}
    <br/>
    Protected Mac: {{ current_user.protected }} <a href="{{ url_for('protect') }}"> change </a>
    <br/>
    <form method="post" class="form-horizontal">

        {{ m.field(form.oldpass) }}
        {{ m.field(form.passwd) }}
        {{ m.field(form.passverify) }}
        {{ form.hidden_tag() }}

        <div class="form-group-sm buttons">
            {% if not fucky %}
                <button type="submit" class="btn btn-primary">Go</button>
                &nbsp;
            {% endif %}
            <a href="{{url_for('home')}}" class="pull-right">
                home
            </a>
        </div>
    </form>
{% endblock %}
