{% extends 'layout.html' %}
{% block heading %} Protect {% endblock %}
{% block content %}
    <p>
        Good Job <span class="username">{{ current_user.username }}</span>!
    </p>
    {% if form.protect.choices %}

    <form class="form-horizontal" method="post">
        <p>
            Please select ONE Mac Address to associate to your account (and protect) has been banned from the game.
        </p>

        <ul class="list-unstyled">
            {% for subfield in form.protect %}
                <li>
                {% if protected[subfield.data] %}
                    {{ subfield(disabled=true) }}
                    {{ subfield.label(class='disabled') }}
                {% else %}
                    {{ subfield }}
                    {% set cls = 'strong' if subfield.data == g.mac else '' %}
                    {{ subfield.label(class=cls) }}
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        <em>
            We highly suggest you use your real macaddress, in order to prevent any other people taking over your account.
        </em>
        <div class="form-group-sm buttons">
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
        {{ form.hidden_tag() }}
    </form>
    {% else %}
        Looks like there is no mac address to protect.
    {% endif %}
{% endblock %}