{% extends 'layout.html' %}
{% import 'macro.html' as m %}

{% block heading %}
    Register
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}
        You are already logged in.
    {% else %}
        Welcome to the game.
        {% if fucky %}
            Something is FUCKY!
            {% set fuckyargs = {'disabled':'true'} %}
        {% else %}
            Please Register for an account.
            {% set fuckyargs = {} %}
        {% endif %}
        <form class="form-horizontal" method="post">
            {{ m.field(form.usermac, **fuckyargs) }}
            {{ m.field(form.login, **fuckyargs) }}
            {{ m.field(form.passwd, **fuckyargs) }}
            {{ m.field(form.passverify, **fuckyargs) }}
            <div class="form-group-sm buttons">
                {% if not fucky %}
                <button type="submit" class="btn btn-primary">Go</button>
                &nbsp;
                {% endif %}
                <a href="{{url_for('login')}}">
                    I already have an account
                </a>
            </div>
            {{ form.hidden_tag() }}
            {{ m.hidden_errors(form) }}
        </form>
    {% endif %}
{% endblock %}