{% extends 'layout.html' %}
{% macro row(line) %}
    {% set tag = kwargs.get('tag', 'td') %}
    {% set columns = line.split('\t') %}
    <tr>
        {% for l in columns %}
            <{{ tag }}> {{ l }} </{{ tag }}>
        {% endfor %}
    </tr>
{% endmacro %}

{% block heading %} User {% endblock %}
{% block content %}
    Welcome <span class="username">{{ current_user.username | default ('User')}}</span>.
    <form class="form form-horizontal" method="post">
    <pre class="nodecor">
5255d3daaa0a6276b844d61401e6f493
b2ee912b91d69b435159c7c3f6df7f5f</pre>
        <div class="form-group form-group-sm ">
            <div class="col-xs-10">
                <input class=" form-control" name="input" type="text" value="{{ request.form.get('input', '') }}">
            </div>
            <div class="col-xs-2">
                <button class="btn btn-sm btn-primary pull-right" id="submit">
                    Submit
                </button>
            </div>
        </div>
    </form>
    {#
    {% if tables|length > 1 %}
        {% set tables = tables[1:] %}
    {% endif %}
    #}
    {% for t in tables %}
        <table class="table table-bordered table-striped table-condensed results">
        {{ row(t[0], tag='th') }}
        {% for r in t[1:] %}
            {{ row(r) }}
        {% endfor %}
        </table>
    {% endfor %}

    <a href="{{url_for('profile')}}" class="pull-right">
        Edit Profile
    </a>
{% endblock %}
