{% extends 'layout.html' %}
{% import 'macro.html' as m %}

{% block heading %} User {% endblock %}
{% block content %}
    <div class="form form-horizontal">
        <div class="form-group form-group-sm ">
            <div class="col-xs-10">
                <input class=" form-control" id="phrase" name="input" type="text"
                       value="{{ request.form.get ('input', 'Login to YOUR account via SSH') }}">
            </div>
            <div class="col-xs-2">
                <button class="btn btn-sm btn-primary pull-right" id="submit">
                    Submit
                </button>
            </div>
        </div>

    <iframe id="iframe" scrolling="yes">
    </iframe>

    <a href="{{url_for('profile')}}" class="pull-right">
        Edit Profile
    </a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            var
                    btn = $('#submit'),
                    iframe = $('#iframe'),
                    input = $('#phrase'),
                    btnEnable = function() {
                        btn.prop('disabled', false);
                    },
                    btnDisable = function() {
                        btn.prop('disabled', true)
                    },
                    iframeUpdate = function() {
                        var len = input.val().trim().length,
                                url = {{ url_for('ponyframe')|tojson }} +
                                        (len ? '?text=' + encodeURIComponent(input.val()) : '');
                        btnDisable();
                        iframe.attr('src', url);
                    }
                    ;
            btn.on(
                    "click", function() {
                        iframeUpdate();
                    }
            );

            iframe.on(
                    'load',
                    function() {
                        iframe.contents().find('pre').css("white-space", "pre");
                        btnEnable();
                    }
            );

            btnEnable();
            iframeUpdate();


        });
    </script>
{% endblock %}